/unittest/Win32/Debug/*.exe
/unittest/Win32/Debug/dcu/*.dcu

/unittest/Win32/Release/*.exe

/unittest/Win32/Release/dcu/*.dcu
/unittest/Win32/Release/dunit.ini
/src/__history
/unittest/Win32/Debug/dunit.ini
/unittest/__history
/dependencies/gaSQLParser/src/__history
/unittest/*.dsk
/unittest/SQLBuilder4DTests.~dsk
/unittest/Win32/Debug/SQLFile.SQL
